@using MyPartyCore.ViewModels
@model PartyParticipantsViewModel


<h1>@Model.PartyTitle</h1>
<h3>Список участников:</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartyParticipants[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyParticipants[0].ArrivalDate)
        </th>
        <th>
            Фото
        </th>
    </tr>

    @foreach (var item in Model.PartyParticipants)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.ArrivalDate)
            </td>
            <td>
                <div class="px-1">
                    <img id="image" src='@Url.Action("GetImage", new { userName = item.Name })' class="img-thumbnail .img-fluid .max-width image" />
                </div>

            </td>
        </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-primary">
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-primary">
        Вперед
    </a>
}

<p>
    @Html.ActionLink("Проголосовать", "vote", new { ID = @Model.PartyID })
</p>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
            </div>
            <div class="modal-body">
                <img src="" id="preview" style="max-width:100%; height:auto">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".image").on("click", function () {
            var img = $(this);	// Получаем изображение, на которое кликнули
            var src = img.attr('src');
            $('#preview').attr('src', src);
            $('#modal').modal('show');
        });

    </script>

}


@section ListParties {
    @await Component.InvokeAsync("PartiesList", new { LastViewedParties = false })
    @await Component.InvokeAsync("PartiesList", new { LastViewedParties = true })
}