@using MyPartyCore.ViewModels
@model PartyParticipantsViewModel


<h1>@Model.PartyTitle</h1>
<h3>@Localizer["Title"]</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartyParticipants[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyParticipants[0].ArrivalDate)
        </th>
        <th>
            Фото
        </th>
    </tr>

    @foreach (var item in Model.PartyParticipants)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.ArrivalDate)
            </td>
            <td>
                <div class="px-1">
                    <img id="image" src='@Url.Action("GetImage", new { userName = item.Name })' class="img-thumbnail .img-fluid .max-width image img-photo" />
                </div>

            </td>
        </tr>
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

<p>
    <a asp-controller="Party" asp-action="Vote" asp-route-id=@Model.PartyID class="nav-link">@Localizer["Vote"]</a>
</p>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Localizer["Close"]</span></button>
            </div>
            <div class="modal-body">
                <img src="" id="preview" style="max-width:100%; height:auto">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".image").on("click", function () {
            var img = $(this);	// Получаем изображение, на которое кликнули
            var src = img.attr('src');
            $('#preview').attr('src', src);
            $('#modal').modal('show');
        });

    </script>

}


@section ListParties {
    @await Component.InvokeAsync("PartiesList", new { LastViewedParties = false })
    @await Component.InvokeAsync("PartiesList", new { LastViewedParties = true })
}